/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    color: #858585;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #000;
}
/*UTILITIES*/
.container {
    width: 1024px;
    margin: 0 auto;
}

/*HEADER*/
header {
    /*height: 120px;*/ /* emula content*/
    margin-bottom: 40px;
    /*background: pink;*/
}
header .brand img {
    padding: 10px;
    width: 165px; /*165*/
}

.main-menu {
    margin-top: 40px;
}

.main-menu li {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}

.main-menu li:last-child {
    margin: 0;
}

.main-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #858585;
}

.main-menu li a:hover {
    color: black;
}

/* HERO IMG*/
.hero {
    margin-bottom: 40px;
    /*background: gold;*/
}

.hero .heroimg{
    background: url('./img/banner.jpg');
    background-position: center;
    border-radius: 10px;
    width: 1024px;
    height: 440px;
    
}

.hero .heroimg .opacity {
    background-color: rgba(0, 0, 0, 0.2);
    /*opacity: 0.2;*/
    padding-bottom: 65px;
    border-radius: 10px;
}

.hero .heroimg h1 {
    padding-top: 280px;
    padding-left: 40px;
    color: white;
}

.hero .heroimg p {
    color: white;
    padding-left: 40px;

}

/*LEADERSHIP*/
.leadership {
    margin-bottom: 20px;
    /*background: dodgerblue;*/
}

.leadership .heading {
    /*height: 60px;
    background: lightblue; */
    margin-bottom: 40px;
}

.leadership h2 {
    font-size: 40px;
}

.leadership .columns .col {
    float: left;
    width: 20%;
    height: 600px;
    margin-bottom: 20px;
    /*background: lightblue;*/
}

.leadership .columns .col:nth-child(2) {
    width: 56%;
    margin: 0 2%;
}

.colimage {
    background: url('./img/img-1.jpg');
    background-position: center;
    background-size: cover;
}

.colimage2 {
    background: url('./img/img-2.jpg');
    background-position: center;
    background-size: cover;
}

.colimage3 {
    background: url('./img/img-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.colimage .trasparent,
.colimage2 .trasparent2,
.colimage3 .trasparent3 {
    height: 180px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}
/*FOOTER*/
footer {
    height: 60px;
    background: purple;
}